h1 {
  font-size: 35pt;
}

body {
  background-color: #DAEFF1;
}

#show-location {
  display:none;
}

.testPlace {
  cursor: pointer;
  color: red;
}
.testPlace:hover {
  text-decoration: underline;
}

.container h1 {
  margin: 5%;
  text-align: center;
}

h2 {
  margin-top: 5%;
}
